/* import statement for fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;500;600&display=swap');

/* normalizing margin and padding along with guidelines*/
* {
    margin: 0px;
    padding: 0px;
    /*outline: 1px dotted red;*/
}

body {
    font-family: "Roboto Slab", "sans-serif";
    height: 100%;
    margin: 0;
    background-color: #f5f5f5;
}

.profile {
    padding: 5%;
    background-color: #3C725B;
    display: block;
    padding: 5% 15%;
}

.info {
    padding: 2%;
    display: inline-block;
    vertical-align: middle;
}

h1 {
    font-size: 50px;
    font-weight: 600;
    color: #f5f5f5;

}

h2 {
    font-weight: 200;
    font-size: 25px;
    color: #f5f5f5;

}

img {
    padding: 20px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    vertical-align: middle;
    
}

.line{
    width: 50px;
    margin-top: 40px;
    border-bottom: 2px solid #f5f5f5;
    display: inline-block;
}

h3 {
    font-size: 30px;
    font-weight: 600;
    color: #121212;
    height: 10vh;
    margin-bottom: 5vh;
}

p {
    font-size: 13px;
    font-weight: 400;
    color: #121212;
}

.favorites {
    padding: 3%;
    display: flex;
    justify-content: space-between;
}

.box {
    border-color: #3C725B;
    border-style: solid;
    border-radius: 5%;
    border-width: 3px;
    width: 20vw;
    height: 45vh;
    margin: 1%;
    padding: 2%;
    display: inline-block;
    vertical-align: middle;
    
}

.extra {
    background-color: #3C725B;
    padding: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .extra .box {
        align-items: center;
        width: fit-content;
        border: 0px;
        border-radius: 0;
        margin: 5%;
    }

    .extra .box h3 {
        color: #f5f5f5;
    }

    .extra .box li {
        color: #f5f5f5;
        margin-left: 1vw;
        font-size: 14px;
        font-weight: 300;
    }